
*{
  box-sizing: border-box;
  font-family: 'Carrois Gothic', sans-serif;
  font-weight:bold;
}
.title-head, .search-bar-container, .container, .results-images, .next-page-buttons, #search-term, .results, .videoImgContain {
  display:flex;
}
.title-head, .search-bar-container, .results, .videoImgContain, .next-page-buttons {
  align-items: center;
}
.title-head, .results-images {
  justify-content: center;
}
.title-head {
  height:10rem;
  background-color: #cc181e;
  width:auto;
  color:white;
  font-size:2rem;
}
.search-bar-container {
  flex-flow: column;
  float:left;
  border-right: 1px solid LightGray;
  width:20%;
  height:100%;
}
#search-term {
  flex-flow:column;
  padding:2rem;
}
button, input, #search-term {
  box-shadow: 0 0 5px 2px #cc181e;
}
button:hover {
  background-color:#cc181e;
  color:white;
  cursor:pointer;
}
.search-bar-container > h2 {
  text-decoration: underline;
}
.results, .videoImgContain {
  width:80%;
  height:100%;
  flex-flow: column;
}
.container {
  height:45rem;
  width:85rem;
}
.results > h2 {
  height:20%;
  font-size: 3rem;
  text-decoration: underline;
}
.results-images {
  flex-wrap: wrap;
  height:80%;
  width:100%;
  font-size:1.6rem;
  text-align: center;
}
.results-images img:hover {
  cursor:pointer;
  box-shadow: 10px 10px 5px #cc181e;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.next-page-buttons {
  flex-flow: row;
  margin-top: auto;
  height:60%;
}
.next-page-buttons button {
  padding:1rem;
}
